/*
licht geel: #F5F5C2
geel: #EAD100
oranje: #EBA300
rood: #A90040
blauw: #006BBC
donker grijs: #373B47
licht grijs: #5A667B
lichte kleur: #FAFAFA
grijs0: #A7ADBB
grijs1: #7C849A
grijs2: #585F72
*/

/*
arial
arial black
arial narrow
*/

body    {
        background-color: #FAFAFA;
        color: #373B47;
        font-family: arial;
        height: 100vh;
        margin: 0;
        padding: 0;
        width: 100%}
        
a   {
    border-bottom: transparent solid 1px;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;}
    
a:hover {
        border-bottom: navajowhite solid 1px;
        color: navajowhite;
        -webkit-transition: 0.5s ease;
                transition: 0.5s ease;}

input[type=text]    {
                    background-color: #CBCCD4;
                    border: transparent solid 1px;
                    color: #373B47;
                    font-size: 1em;
                    height: 1.2em;
                    transition: 0.3s;
                    width: 100%;}

input[type=text]:hover, input[type=checkbox]:hover  {
                                                    border-color: #FAFAFA;
                                                    outline: none;
                                                    transition: 0.3s}
                
input[type=text]:focus, input[type=checkbox]:focus  {
                                                    background-color: #FAFAFA;
                                                    border-color: transparent;
                                                    outline: none;
                                                    transition: 0.3s}
                        
input[type=checkbox]    {
                        background-color: #CBCCD4;
                        border: none;
                        border-radius: 10px;
                        color: #FAFAFA;
                        height: 1em;
                        transition: 0.3s;
                        width: 1em;}
                        
                        
textarea    {
            background-color: #CBCCD4;
            border: transparent solid 1px;
            color: #373B47;
            font-family: arial;
            font-size: 1em;
            min-height: 1.2em;
            overflow-x: hidden;
            overflow-y: hidden;
            resize:vertical;
            transition: 0.3s;
            width: 100%;}
            
textarea:hover  {
                border-color: #FAFAFA;
                outline: none;
                transition: 0.3s}
                
textarea:focus  {
                background-color: #FAFAFA;
                border-color: transparent;
                outline: none;
                transition: 0.3s}
                
select  {
        /*appearance: none;             remove default arrow
        background-image: url(...);     add custom arrow */
        background-color: #CBCCD4;
        border: transparent solid 1px;
        color: #373B47;
        cursor: pointer;
        font-family: arial;
        font-size: 1em;
        height: 4.5vh;
        max-height: 25px;
        outline: none;
        resize:vertical;
        transition: 0.3s;
        width: 100%;}
        
select:hover    {
                border-color: #FAFAFA;
                outline: none;
                transition: 0.3s}
                
select:focus    {
                background-color: #FAFAFA;
                border-color: transparent;
                color:#373B47;
                outline: none;
                transition: 0.3s}
                
select.active   {
                background-color: #CBCCD4;
                border-color: transparent;
                color: #FAFAFA;
                outline: none;
                transition: 0.3s}
                
select option   {
                background-color: #7C849A;
                color: #FAFAFA;
                cursor: pointer;
                font-family: arial;
                font-size: 1em;
                outline: none;
                transition: 0.3s}
                
select option:hover, option:checked:hover {
                                        background-color: #FAFAFA;
                                        color: #5A667B;
                                        outline: none;
                                        transition: 0.3s;
                                        box-shadow: inset 20px 20px pink}

select option:focus {
                    background-color: #FAFAFA;
                    color: #5A667B;
                    outline: none;
                    transition: 0.3s}                   
                    

select option.active    {
                        background-color: #FAFAFA;
                        color: #5A667B;
                        outline: none;
                        transition: 0.3s}

button, input[type=button]  {
                            background-color: #7C849A;
                            border: transparent solid 1px;
                            border-radius: 10px;
                            color: #CBCCD4;
                            cursor:  pointer;
                            font-size: 1em;
                            height: 1.5em;
                            margin-top: 1vh;
                            padding-left: 1%;
                            padding-right: 1%;
                            transition: 0.3s;
                            width: auto}
    
/* Nav.php */
    
.nav1   {
        background-color: #373B47;
        height: 35px;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;}

.nav1-link  {
            color: #FAFAFA;
            display: inline-block;
            float: left;
            margin-left: 20px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 10px;
            text-align: center;}
            
#nav1-link2 {
            float: right;
            margin-right:  20px;}
            
.button_none    {
                background-color: inherit;
                border: none;
                cursor: pointer;
                float: right;
                font-size: inherit;
                margin: 0;
                padding: 0;
                }

.button_none:focus  {
                    outline: none;}               
                            
/* Header.php */

.header1    {
            background-color: transparent;
            display: block;
            font-size: 60%;
            height: 30vh;
            position: fixed;
            text-align: center;
            top: 4vh;
            width: 100%;}
            
.header2    {
            background-color: transparent;
            display: block;
            font-size: 50%;
            height: 10vh;
            position: fixed;
            text-align: center;
            top: 5vh;
            width: 100%;}
            
h1  {
    font-size: 550%;
    text-align: center;}
    
h2  {
    font-size: 150%;
    text-align: center;}

.header_hfdtitel    {
                    color: #5A667B;
                    font-family: arial black;}
                    
.header_tsstitel    {
                    color: #373B47;
                    font-family: arial narrow;
                    /*font-stretch: extra-expanded;*/
                    margin-top: -3.5vh;}
            

/* footer.php */

footer {
       background-color: #373B47;
       display: block;
       height: 35px;
       overflow:  hidden;
       position: fixed;
       bottom: 0;
       width: 100%;}
       
.footer-p   {
            color: #FAFAFA;
            border-bottom: transparent solid 1px;
            margin-top: 10px;
            text-align: center;}
            
/* inloggen.php */

.login_box  {
            background-color: #5A667B;
            border-radius: 10px;
            height: 55vh;
            margin: 23%;
            margin-bottom: 13vh;
            margin-top: 28vh;
            padding: 2%;
            padding-bottom: 2vh;
            padding-bottom: 2vh;
            position: fixed;
            text-align: center;
            width: 50%;}
            
.login_box_title    {
                    color: #FAFAFA;
                    font-family: arial narrow;
                    font-size:  2em;
                    height: 20%;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    width: 100%;}
            
.login_form {
            height: 73%;
            margin: 1% 15% 5% 15%;
            text-align: center;
            width: 70%;}
            
.login_form-box {
                margin-bottom: 5%;
                margin-left: 15%;
                margin-right: 15%;
                width: 70%;}

.login_form-lbl {
                color: #373B47;
                font-size: 1em;
                float: left;
                margin: 0;
                padding: 0;
                text-align: left;
                width: 100%;}

.login_form-in  {
                color: #373B47;
                font-size: 1em;
                background-color: rgba(250,250,250,0.7);
                border: transparent solid 1px;
                height: 1.2em;
                transition: 0.3s;
                width: 100%;}

.login_form-in:hover    {
                        border-color: #FAFAFA;
                        outline: none;
                        transition: 0.3s}
                
.login_form-in:focus    {
                        background-color: #FAFAFA;
                        border-color: transparent;
                        outline: none;
                        transition: 0.3s}

.login_form-btn {
                background-color: #373B47;
                border: transparent solid 1px;
                border-radius: 10px;
                color: rgba(250,250,250,0.7);
                cursor: pointer;
                font-size: 1em;
                height: 1.5em;
                margin-top: 2.5%;
                transition: 0.3s;
                width: 40%;}
                
.login_form-btn:hover   {
                        color: rgba(250,250,250,0.7);
                        border-color: rgba(250,250,250,0.7);
                        outline: none;
                        transition: 0.3s}

.login_form-btn:focus   {
                        background-color: #FAFAFA;
                        border-color: transparent;
                        color: #373B47;
                        outline: none;
                        transition: 0.3s}
                        
/* help.php */

.page_fullscreen-grey   {
                        background-color: rgba(241,242,244,0.10);
                        color: #FAFAFA;
                        display: block;
                        height:  100vh;
                        margin: 0;
                        padding: 0;
                        position: fixed;
                        text-align: center;
                        top: 0;
                        width: 100%;}
                        
.page_cover     {
                background-color: #5A667B;
                border-radius: 10px;
                display: block; 
                height: 76vh ;
                margin: 17%;
                margin-bottom: 10vh;
                margin-top: 10vh;
                padding: 2%;
                padding-bottom: 2vh;
                padding-top:  2vh;
                transition: 0.3s;
                text-align: center;
                width: 62%}
                
.page_cover-space   {
                    background-color: inherit;
                    display: block;
                    height:  100%;
                    margin:  0;
                    padding: 0;
                    transition: 0.3s;
                    width: 100%}
                    
.page_cover-close   {
                    background-color: transparent;
                    border: none;
                    display: none;
                    color: #373B47;
                    cursor: pointer;
                    float: right;
                    font-family: arial black;
                    font-size: 1.5em;
                    height: 2em;
                    transition: 0.3s;
                    width: 2em;}

.page_cover-close:hover     {
                            color: #FAFAFA;
                            transition: 0.3s;}
                            
.page_cover-close:focus     {
                            border: #FAFAFA solid 1px;
                            border-radius: 10px;
                            color: #FAFAFA;
                            outline: none;
                            transition: 0.3s;}
                    
.page_cover-titlebox    {
                        height: 20%;
                        margin: 0;
                        margin-left: 20%;
                        margin-right: 20%;
                        padding: 0;
                        transition: 0.3s;
                        text-align: center;                        
                        width: 60%;}

.page_cover-title   {
                    font-family: arial black;
                    font-size: 2em;
                    margin: 0;
                    padding: 0;
                    transition: 0.3s;
                    width: 100%;}

.page_cover-title-sub   {
                        font-family: arial narrow;
                        font-size: 1em;
                        margin: 0;
                        padding: 0;
                        transition: 0.3s;
                        width: 100%}


.page_cover-info    {
                    background-color: inherit;
                    display: block;
                    height: 80%;
                    margin: 0;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    padding: 0;
                    transition: 0.3s;
                    text-align: left;
                    width: 100%;}


/* formulier.php */

.tabs_names_box_arrows  {
                    background-color: transparent;
                    position:  fixed;
                    display:  inline-block;
                    height: 15vh;
                    margin: 12%;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding: 0;
                    position: fixed;
                    text-align: center;
                    top: 30vh;
                    width: 76%}
                    
.tabs_names_arrows  {
                    background-color: transparent;
                    border: none;
                    color: #A7ADBB;
                    cursor: pointer;
                    font-size: 200%;
                    transition: 0.3s;
                    width: 3%}
                    
#tabs_names_arrows_vorige   {
                            float: left;   
                            }

#tabs_names_arrows_volgende {
                            float: right;  
                            }

.tabs_names_arrows:hover    {
                            color:  #7C849A;
                            transition: 0.3s;}
                            
.tabs_names_arrows:focus    {
                            color: #5A667B;
                            outline: none;
                            transition: 0.3s;}

 .tabs  {
        background-color: transparent;
        display:  inline-block;
        height: 15vh;
        margin: 15%;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        position: fixed;
        text-align: left;
        top: 30vh;
        width: 70%;}
        
 .tabs_names    {
                background-color: #7C849A;
                border: none;
                border-radius: 10px;
                color: #FAFAFA;
                cursor: pointer;
                float: top left;
                font-size: 0.8em;
                height: 50%;
                margin: 0;
                margin-right: -1.1%;
                /*overflow: hidden;*/
                /*overflow: hidden;*/
                padding: 0;
                padding-bottom: 1.5%;
                padding-left: 1%;
                padding-right: 1%;
                text-decoration: none;
                transition: 0.3s;
                width: 20.5%;}
 
.tabs_names:hover   {
                    background-color: #585F72;
                    border-color: transparent;
                    transition: 0.3s;}
 
.tabs_names:focus   {
                    background-color: #585F72;
                    border-color: transparent;
                    outline: none;
                    transition: 0.3s;}
                    
.tabs_names.active  {
                    background-color: #A7ADBB;
                    border-color: transparent;
                    transition: 0.3s;}
 
.tabs_info-box  {
                background-color: #A7ADBB;
                border: transparent solid 1px;
                border-radius: 10px;
                color: #FAFAFA;
                display:  block;
                height: 53vh;
                margin: 15%;
                margin-bottom: 0;
                margin-top: 0;
                padding: 2%;
                padding-bottom: 2vh;
                padding-top: 2vh;
                position: fixed;
                text-align: left;
                top: 35vh;
                width: 66%;}
                
 .tabs_info-box-space   {
                        display: block;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        padding: 0;
                        margin: 0;
                        height: 100%;
                        width: 100%}
                        
#mess   {
        background-color: inherit;
        display: block;
        margin-top: 10%;
        padding: 0;
        text-align: center;
        font-style: italic;
        width: 100%;}
                
 
 .tabs_info {
            background-color:  inherit;
            display:  none;
            padding: 0;
            margin: 0;
            width: 100%;}
            
/* algemene layout formulieren.php */
                    
.form_box_1 {
            margin: 0;
            margin-bottom: 2vh;
            padding: 0;
            width: 100%} 
           
/* vraagtoevoegen.php */

            
.form_newvraag_lbl  {
                    color: #5A667B;
                    font-size: 1em;
                    margin: 0;
                    padding: 0;
                    width: 100%}
                    
.form_newvraag_in1  {
                    margin-left: 2%;
                    margin-top: 1vh;
                    width: 78.5%;}
                    
.form_newvraag_box_in   {
                        margin: 0;
                        margin-left: 2%;
                        margin-top: 1vh; 
                        padding: 0;
                        vertical-align: central;
                        width: 55%}
            
.form_newvraag_in   {  
                    width: 100%;}
                    
.form_newvraag_in2  {
                    margin-top: -1.2em;
                    width: 100%;}
                    
.form_newvraag_slt  {
                    margin-left: 2%;
                    margin-top: 1vh; 
                    width: 55%;}
                    
.Lijst  {
        display: none;
        /*margin-bottom: -2.5vh;*/
        margin-left: 2%;
        margin-top: -1vh;
        text-align: center;
        width: 55%}
                    
.form_newvraag_btn1 {
                    background-color: #7C849A;
                    border: transparent solid 1px;
                    border-radius: 10px;
                    color: #CBCCD4;
                    cursor:  pointer;
                    font-size: 1em;
                    height: 1.5em;
                    padding-left: 1%;
                    padding-right: 1%;
                    transition: 0.3s;
                    /*width: auto*/}
                    
.form_newvraag_btn:hover, .form_newvraag_btn1:hover, .form_newvraag_pls:hover   {
                                                                                border-color: #FAFAFA;
                                                                                color: #FAFAFA;
                                                                                outline: none;
                                                                                transition: 0.3s}
                
.form_newvraag_btn:focus, .form_newvraag_btn.active, .form_newvraag_btn1:focus, .form_newvraag_btn1.active, .form_newvraag_pls:focus    {
                                                                                                                                        background-color: #FAFAFA;
                                                                                                                                        border-color: transparent;
                                                                                                                                        color: #5A667B;
                                                                                                                                        outline: none;
                                                                                                                                        transition: 0.3s}

.form_newvraag_of   {
                    color: #5A667B;
                    font-size: 1em;
                    text-align: center;
                    width: 10%}

.BestaandeLijst {
                display: none;}
                
.GepersonaliseerdeLijst {
                        display: none;}
                    
.form_newvraag_pls  {
                    background-color: #7C849A;
                    border: transparent solid 1px;
                    border-radius: 10px;
                    color: #CBCCD4;
                    float: right;
                    font-size: 1em;
                    height: 1.5em;
                    margin: 0;
                    margin-right: -14%;
                    overflow: hidden;
                    padding:0;
                    transition: 0.3s;
                    text-align: center;
                    width: 10%}
                    
.Mogelijke_antwoorden   {
                        display: none; 
                        margin: 0;
                        margin-top: 3vh;
                        padding: 0;}

.form_newvraag_mn   {
                    background-color: transparent;
                    border: transparent solid 1px;
                    border-radius: 10px;
                    color: #7C849A;
                    float: right;
                    font-size: 1em;
                    height: 1.5em;
                    margin: 0;
                    margin-right: -14%;
                    margin-top: -0.4vh;
                    overflow: hidden;
                    padding:0;
                    transition: 0.3s;
                    text-align: center;
                    vertical-align: central;
                    width: 10%;}
                    
.Max_antwoord   {
                display: none;}
                    
.form_newvraag_lstb {
                    margin-left: 2%;
                    margin-top: 1vh;}
                    

                    
.form_newvraag_box_chk  {
                        margin: 0;
                        padding: 0;}
                                                
.form_newvraag_box_chk:hover, #form_newvraag_lbl_v  {
                                                    color: #FAFAFA;
                                                    margin: 0;
                                                    padding: 0;}


.form_newvraag_btn  {
                    background-color: #7C849A;
                    border: transparent solid 1px;
                    border-radius: 10px;
                    color: #CBCCD4;
                    cursor:  pointer;
                    font-size: 1em;
                    height: 1.5em;
                    padding-left: 1%;
                    padding-right: 1%;
                    transition: 0.3s;
                    /*width: auto*/
                    margin-top: 1vh;
                    /*width: 30%*/}
                    
.form_newvraag_ccl  {
                    background-color: transparent;
                    border: transparent solid 1px;
                    border-radius: 10px;
                    color: #7C849A;
                    font-size: 1em;
                    height: 1.5em;
                    padding-left: 1%;
                    padding-right: 1%;
                    transition: 0.3s;
                    /*width: auto*/
                    margin-top: 1vh;
                    /*width: 30%*/}
                    
.form_newvraag_ccl:hover, .form_newvraag_mn:hover   {
                                                    border-color: #7C849A;
                                                    }

.form_newvraag_ccl:focus, .form_newvraag_mn:focus   {
                                                    border-color: #FAFAFA;
                                                    color: #FAFAFA;
                                                    outline: none;
                                                    transition: 0.3s}
                    
                    
/* other.php */
                
.Inschrijvingsformulier_Table   {
                                width: 100%;}
                                
.Inschrijvingsformulier_Td  {
                            width: 5%;}

.Niet_Leerling {
    display: none;
}
.Woonplaats_niet_be {
    display: none;
}
